@font-face {
  font-family: 'icons';
  src: url('../font/icomoon.eot?79801659');
  src: url('../font/icomoon.eot?79801659#iefix') format('embedded-opentype'),
       url('../font/icomoon.woff?79801659') format('woff'),
       url('../font/icomoon.ttf?79801659') format('truetype'),
       url('../font/icomoon.svg?79801659#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?79801659#icons') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-stackoverflow:before { content: '\e032'; } /* '' */
.icon-twitter:before { content: '\e90b'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-rss:before { content: '\e910'; } /* '' */
.icon-mail-alt:before { content: '\e90a'; } /* '' */
.icon-github:before { content: '\e909'; } /* '' */
.icon-gitlab:before { content: '\e902'; } /* '' */
.icon-mastodon:before { content: '\e904'; } /* '' */
.icon-lock:before { content: '\e903'; } /* '' */
.icon-fingerprint:before { content: '\e903'; } /* '' */
.icon-bubble:before { content: '\e908'; } /* '' */
.icon-bitcoin:before { content: '฿'; } /* '' */
.icon-duniter:before { content: 'Ğ1'; } /* '' */
