<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

  <head>
    {% block head %}
      <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

<link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css' /> 
      <link href='//fonts.googleapis.com/css?family=Merriweather:300' rel='stylesheet' type='text/css'/> 
      <link href='//fonts.googleapis.com/css?family=Source+Code+Pro:200,400,700' rel='stylesheet' type='text/css'/>
      <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/icons.css"/>
      <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/styles.css"/> 
      <meta charset="utf-8" />
      {% if FEED_ATOM %}
        <link href="/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
      {% endif %}
      {% if FEED_RSS %}
        <link href="/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
      {% endif %}
    {% endblock head %}
  </head>

  <body id="index">
    <!-- header -->
    <header class="siteheader">
      <!-- site image -->
      {% if PROFILE_IMAGE_URL %}
        <div class= "siteimage">
          <a class="nodec" href={{ PROFILE_IMAGE_URL }}>
            <img width="200" height="200" src={{ PROFILE_IMAGE_URL }}>
          </a>
        </div>
      {% endif %}

      <div class = "sitebanner">
        <h1><a class="sitetitle nodec" href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
        <h3 class ="sitesubtitle">{{ SITESUBTITLE }}</h3>
        <!-- nav -->
        <nav class="menu">
          <ul>
            <!-- menu items-->
            {% for title, link in MENUITEMS %}
              <li><a class="nodec" href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
            <!--pages-->
            {% if DISPLAY_PAGES_ON_MENU %}
              {% for p in PAGES %}
                <li{% if p == page %} class="active"{% endif %}><a class="nodec" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
              {% endfor %}
            {% endif %}
            <!-- services icons -->
            {% if EMAIL_ADDRESS %}
              <li><a class="nodec icon-mail-alt" href="mailto:{{ EMAIL_ADDRESS }}"></a></li>
            {% endif %}
            {% if GITHUB_ADDRESS %}
              <li><a class="nodec icon-github" href="{{ GITHUB_ADDRESS }}"></a></li>
            {% endif %}
            {% if SO_ADDRESS %}
              <li><a class="nodec icon-stackoverflow" href="{{ SO_ADDRESS }}"></a></li>
            {% endif %}
            {% if TWITTER_ADDRESS %}
              <li><a class="nodec icon-twitter" href="{{ TWITTER_ADDRESS }}"></a></li>
            {% endif %}
            {% if FB_ADDRESS %}
              <li><a class="nodec icon-facebook" href="{{ FB_ADDRESS }}"></a></li>
            {% endif %}
            {% if FEED_RSS %}
              <li><a class="nodec icon-rss" href="/{{ FEED_RSS }}"></a></li>
            {% endif %}
            {% if MASTODON_ADDRESS %}
              <li><a class="nodec icon-mastodon" href="{{ MASTODON_ADDRESS }}"></a></li>
            {% endif %}
            {% if GITLAB_ADDRESS %}
              <li><a class="nodec icon-gitlab" href="{{ GITLAB_ADDRESS }}"></a></li>
            {% endif %}
            {% if DUNITER %}
              <li><a class="nodec icon-duniter"  href="{{ DUNITER_ADDRESS }}"></a></li>
            {% endif %}
           
          </ul>
        </nav>
      </div> <!-- sitebanner -->
    </header>

    <!-- content -->
    {% block content %}
    {% endblock %}

    <!-- footer -->
    <footer>
<!--       <p id="tip">
            {% if DUNITER_ADDRESS %}
              <a class="nodec icon-duniter" href="{{ DUNITER_ADDRESS
}}">{{ DUNITER }}</a></br> </br>
            {% endif %}
            {% if BITCOIN_ADDRESS %}
              <a class="nodec icon-bitcoin" href="{{ BITCOIN_ADDRESS
}}">{{ BITCOIN }}</a>
            {% endif %}
        </p>
</br> 
--!>

      <p id="Licence">
        © {{ AUTHOR }}, license <a href="{{ LICENSE_URL}}"> {{LICENSE_NAME }}</a>
        unless otherwise noted.</br>
        Generated by <a href= "http://docs.getpelican.com/">Pelican</a> with
        <a href="http://github.com/porterjamesj/crowsfoot">crowsfoot</a>
        theme.</br>
    </footer>
  </body>
</html>
