{% extends "base.html" %}


{% block content %}


<div class="content">

{% import 'translations.html' as translations with context %}
{{ translations.translations_for(page) }}

  <div class="article">
    <h1>{{ page.title }}</h1>

    {{ page.content }}

  </div>
</div>
{% endblock %}
